<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Crear nueva cuenta</title>
	<link rel="stylesheet" href="../css/registrarse.css">
</head>
<body>
	<section>
		<div class="color"></div>
		<div class="color"></div>
		<div class="color"></div>
		<div class="box">
			<div class="square" style="--i:0;"></div>
			<div class="square" style="--i:1;"></div>
			<div class="square" style="--i:2;"></div>
			<div class="square" style="--i:3;"></div>
			<div class="square" style="--i:4;"></div>
			 <div class="container">
			 	<div class="form">
			 		<h2>Crear nueva cuenta</h2>
			 		<form action="../logica/loginR.php" method="POST" >
			 			<div class="inputBox">
			 				<input name="usuario" type="text" placeholder="Correo electronico"/>
			 			</div>
			 			<div class="inputBox">
			 				<input name="contraseña" type="password" placeholder="Contraseña"/>
			 			</div>
			 			<div class="inputBox">
			 				<input type="submit" value="Crear Cuenta" />
			 			</div>
			 			<p class="forget">
			 				Has olvidado tu contraseña? <a href="recuperar.html">Recuperar contraseña</a>
			 			</p>
			 			<p class="forget">
			 				Ya tienes una cuenta? <a href="login.php">Iniciar sesión</a>
			 			</p>
			 		</form>
			 	</div>
			 </div>
		</div>
	</section>
</body>
</html>