<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/formulario.css" />
    <title>Proveedor</title>
  </head>
  <body>
    <main>
      <h1>Gestion de Proveedor</h1>
      <div class="insights">
        <div class="income">
          <input type="text" placeholder="Hola mundo" />
        </div>
        <!---------------------END OF INCOME-------------------------------------------------->
      </div>
    </main>
  </body>
</html>
