<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Dashboard using HTML CSS and Javascript</title>
    <!-- MATERIAL CDN-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet"
    />
    <!-- STYLESHEET-->
    <link rel="stylesheet" href="../../css/menu.css" />
  </head>
  <body>
    <div class="container">
      <aside>
        <div class="top">
          <div class="logo">
            <img
              src="./Imagenes/png-transparent-rose-rose-graphic-logo-flower.png"
            />
            <h2>Johan<span class="danger">Style</span></h2>
          </div>
          <div class="close" id="close-btn">
            <span class="material-icons-sharp">close</span>
          </div>
        </div>
        

        <div class="right">
          <div class="top">
          <button id="menu-btn">
            <span class="material-icons-sharp">menu</span>
          </button>
          <div class="theme-toggler">
            <span class="material-icons-sharp active">light_mode</span>
            <span class="material-icons-sharp">dark_mode</span>
          </div>
        </div>
        </div>

        <div class="sidebar">
          <a href="opciones.html" class="active" target="pru">
            <span class="material-icons-sharp"> grid_view</span>
            <h3>Menu</h3>
          </a>
          <a href="../supplier/proveedor.php" target="pru">
            <span class="material-icons-sharp">groups</span>
            <h3>Proveedor</h3>
          </a>
          <a href="../client/cliente.php" target="pru">
            <span class="material-icons-sharp">person</span>
            <h3>Clientes</h3>
          </a>
          <a href="../entry/entrada.php" target="pru">
            <span class="material-icons-sharp"> inventory </span>
            <h3>Entrada de Producto</h3>
          </a>
          <a href="../exit/salida.php" target="pru">
            <span class="material-icons-sharp">rule_folder </span>
            <h3>Salida de Producto</h3>
          </a>
          <a href="../product/producto.php" target="pru">
            <span class="material-icons-sharp"> inventory_2</span>
            <h3>Gestion de Producto</h3>
          </a>
          <a href="../reports/reportes.html" target="pru">
            <span class="material-icons-sharp">auto_stories</span>
            <h3>Reportes de producto</h3>
          </a>

          <a href="../../index.php">
            <span class="material-icons-sharp"> logout</span>
            <h3>logout</h3>
          </a>
        </div>
      </aside>
      <!----------------------------------END OF ASIDE------------------------------------------------>
      <main>
        <iframe src="" name="pru" style="width: 160vh; height: 90vh"></iframe>
      </main>
      <!----------------------------------END OF MAIN--------------------------------------->



  </body>

  <script src="orders.js"></script>
  <script src="../../js/index.js"></script>
</html>
