<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/catalogoproducto.css">
    <link rel="shortcut icon" href="../../img/logo_login.png">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
        <a href="../../index.php">Regresar:</a>
        </nav>
    </header>
    <section class="portafolio">
        <div class="contenedor">
            <h2 class="titulo"> Productos De Belleza</h2>
            <div class="galeria-port">
                <div class="imagen-port">
                    <img src="../../img/Producto1.jpg" alt="">
                    <div class="hover-galeria">
                        <br>HILOS DE SEDA MARCEL-FRANCE:<br/>
                        <p>
                            Protege de la agresion termica y  
                            mecacnica al ser cepillado.Con el uso de este producto su cabello queda dócil, sedoso y brillante.<br>
                        </p>
                        Costo:$30.000
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="../../img/Producto2.jpg" alt="">
                    <div class="hover-galeria">
                        
                        Gel Irisant:<br>
                        <p>
                            Gel moldeador de alto brillo. Permite
                            reducir el volumen en los cabellos crespos. Control del peinado sin acartonamiento, con efecto húmedo no
                            graso. Sin Alcohol<br></p>
                            Costo:$16.000
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="../../img/Producto3.jpg" alt="">
                    <div class="hover-galeria">
                        Locion Para Corte De Hombre:<br>
                        <p>La loción para corte es una herramienta para calmar la irritación generada en los procesos de corte,
                             deja una sensación de frescura y suavidad inmediata.<br></p>
                             Costo:$16.000
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="../../img/Producto5.jpg" alt="">
                    <div class="hover-galeria">
                        Champú Lisos Inteligentes:<br>
                        <p>Cabellos lisos de forma natural aún en altas condiciones de humedad. Aporta un alto nivel de acondicionamiento y control del frizz, 
                            aumentado el movimiento del cabello al mejorar la estructura de la fibra capilar<br></p>
                            Costo:$25.000
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="../../img/Producto6.jpg" alt="">
                    <div class="hover-galeria">
                        Kit Alisante Progresivo:<br>
                        <p>Chocoliss Herbal es la marca de keratina natural más innovadora del mercado, alisa tu cabello, cuida tu salud, 
                            sin formol y sin derivados del formol, es muy suave sin olor y sin irritación!<br></p>
                            Costo:$217.000
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="../../img/Producto7.jpg" alt="">
                    <div class="hover-galeria">
                        Kit Keratina Frenchs Gold:<br>
                        <p>Contiene Aminoácidos Orgánicos a base de Aceite de Argan, Aceite de Coco Virgen y Aceite de Kakai, 
                            Proporcionando Hidratacion, Alisado y Restructuración a Tu Cabello.<br></p>
                            Costo:$170.000
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="../../img/Producto8.jpg" alt="">
                    <div class="hover-galeria">

                    
                    Cirugia Capilar Kerafruit:<br>
                        <p>La Cirugía Plástica Capilar es un tratamiento químico para el cabello que cumple 3 acciones simultáneamente: Genera un efecto alisador no permanente que dura de 15 a 20 semanas, 
                            produce una hidratación profunda, un brillo natural muy marcado y como efecto adicional<br></p>
                            costo:$59.000
                    </div>
                </div>
                <div class="imagen-port">
                    <img src="../../img/img7.jpg" alt="">
                    <div class="hover-galeria">
                        <img src="../../img/icono1.png" alt="">
                        <p>Otros</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>